@import '../../styles/base/variables';
@import '../../styles/mixins/mixins';

// ==========================================================================
// Global
// ==========================================================================
.codeBlockWrapper {
  position: relative;

  button {
    opacity: 0;
    background: #3b3d40;
    padding: 13px 12px 6px 12px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    svg {
      height: 18px;
      width: 18px;
    }
  }
  &:hover {
    button {
      opacity: 1;
    }
  }
}
.copyButtonWrapper {
  position: absolute;
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
  .codeBlockWrapper {
    padding: 0 0 30px 0;
  }
  .copyButtonWrapper {
    top: 20px;
    right: 20px;
  }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
