@import "../../styles/base/variables";

// ==========================================================================
// Global
// ==========================================================================
.projectFilter {
    z-index: 1;
    height: 50px;
    width: 250px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    overflow: hidden;
    border-radius: 45px;
    background: $white;
    &.darkMode {
        background: $white;
        .filterList {
            .filterBtn {
                color: $grey;
                &.activeFilterBtn {
                    color: $black;
                }
            }
        }
    }
    &.lightMode {
        background: $black;
        .filterList {
            .filterBtn {
                color: $grey;
                &.activeFilterBtn {
                    color: $white;
                }
            }
        }
    }
}

.filterListWrap {
    height: 100%;
}

.filterList {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .filterBtn {
        padding: 0;
        cursor: pointer;
        white-space: nowrap;
        color: $grey;
        transition: color 1s cubic-bezier(0.16, 1, 0.3, 1) 0s;
        &.activeFilterBtn {
            color: $black;
        }
    }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
