@import "../base/variables";

@mixin type-setting($fontSize, $lineHeight, $letterSpacing) {
  font-size: #{$fontSize}px;
  line-height: #{$fontSize}px;
  letter-spacing: #{$letterSpacing}px;
}

@mixin type-setting-responsive($min, $preferred, $max) {
  font-size: min(max(#{$min}px, #{$preferred}vw), #{$max}px);
  line-height: min(max(#{$min}px, #{$preferred * 1.5}vw), #{$max}px);
}

@mixin line-height-responsive($min, $preferred, $max) {
  line-height: min(max(#{$min}px, #{$preferred}vw), #{$max}px);
}
