@font-face {
  font-family: "Lato-Black";
  src: url("../../public/font/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("../../public/font/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../../public/font/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("../../public/font/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../../public/font/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../../public/font/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Lato-LightItalic";
  src: url("../../public/font/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../../public/font/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Regular";
  src: url("../../public/font/Khula/Khula-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Light";
  src: url("../../public/font/Khula/Khula-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khula-Bold";
  src: url("../../public/font/Khula/Khula-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khula-ExtraBold";
  src: url("../../public/font/Khula/Khula-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Khula-SemiBold";
  src: url("../../public/font/Khula/Khula-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "manrope-Regular";
  src: url("../../public/font/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "manrope-Medium";
  src: url("../../public/font/manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "manrope-SemiBold";
  src: url("../../public/font/manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "manrope-Bold";
  src: url("../../public/font/manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "manrope-ExtraBold";
  src: url("../../public/font/manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
