@font-face {
  font-family: 'Chillax-Regular';
  src:
    url('../../static/fonts/chillax/Chillax-Regular.woff2') format('woff2'),
    url('../../static/fonts/chillax/Chillax-Regular.woff') format('woff'),
    url('../../static/fonts/chillax/Chillax-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax-Medium';
  src:
    url('../../static/fonts/chillax/Chillax-Medium.woff2') format('woff2'),
    url('../../static/fonts/chillax/Chillax-Medium.woff') format('woff'),
    url('../../static/fonts/chillax/Chillax-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/neueMontreal/ppneuemontreal-book.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/neueMontreal/ppneuemontreal-thin.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/neueMontreal/ppneuemontreal-medium.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/neueMontreal/ppneuemontreal-bold.woff') format('woff');
}
