@font-face {
    font-family: "PPMoriExtraLight";
    src: url("/static/fonts/PPMori-Extralight.otf") format("opentype");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PPMoriMedium";
    src: url("/static/fonts/PPMori-Regular.otf") format("opentype");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PPMoriSemBold";
    src: url("/static/fonts/PPMori-SemiBold.otf") format("opentype");
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
