@import "../../styles/base/variables";

.imageWrap {
  position: relative;
  height: 100%;
  width: 100%;
  transition: 0.2s opacity ease-in-out;
  background: transparent;

  .imageTag {
    opacity: 0;
    &.active {
      animation: content-appear 0.5s linear forwards;
      animation-delay: 0.1s;
    }
  }
}

@keyframes content-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
