@import "../../styles/base/variables";

// ==========================================================================
// Global
// ==========================================================================
.main {
    min-height: 100vh;
    &.withPadding {
        // padding: 13vh 0 0 0;
    }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
    .main {
        &.withPadding {
            padding: 90px 0 0 0;
        }
    }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
    .main {
        &.withPadding {
            padding: 180px 0 0 0;
        }
    }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
