@import "../../styles/base/variables";
@import "../../styles/mixins/mixins";

// ==========================================================================
// Global
// ==========================================================================

.aboutSection {
  &.darkMode {
    .bodyCopy {
      p {
        color: $greyLight;
      }
    }
  }
  &.lightMode {
    .bodyCopy {
      p {
        color: $grey;
      }
    }
  }
  .bodyCopy {
    @include article-responsive-new();
    p {
      font-weight: 700;
    }
  }

  .downloadCvBtn svg {
    transform: translateX(0);
    transition: all 0.3s ease;
  }

  .downloadCvBtn:hover svg {
    transform: translateX(0);
    transform: translateY(4px);
  }

  .downloadCvBtn:active svg {
    transform: scale(0.9);
  }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
  .aboutSection {
    padding: 180px 0 0 0;
    .title {
      @include type-setting-responsive(16, 5, 50);
      grid-column: 1/13;
    }
    .bodyCopy {
      grid-column: 1/13;
      margin: 40px 0 0 0;
    }
    .downloadCvBtn {
      grid-column: 1/13;
      margin: 20px 0 0 0;
      span {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      svg {
        width: 20px;
        height: 20px;
        margin: -5px 0 0 0;
      }
    }
  }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
  .aboutSection {
    .title {
      grid-column: 1/6;
      @include type-setting-responsive(16, 1.4, 20);
    }
    .bodyCopy {
      grid-column: 6/12;
      margin: 0;
    }
    .downloadCvBtn {
      grid-column: 6/12;
      margin: 10px 0 0 0;
    }
  }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .aboutSection {
    .title {
      @include type-setting-responsive(16, 1.6, 20);
    }
  }
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
  .aboutSection {
    padding: 360px 0 0 0;
    .title {
      @include type-setting-responsive(24, 1.4, 50);
    }
    .downloadCvBtn {
      margin: 15px 0 0 0;
    }
  }
}
