@import "../../styles/base/variables";

// ==========================================================================
// Global
// ==========================================================================
.circles {
    display: none;
    &.darkMode {
        span {
            background: $white;
        }
    }
    &.lightMode {
        span {
            background: $black;
        }
    }

    div {
        &:first-of-type {
            position: relative;
        }
    }
}

.circlesWrap {
    position: absolute;
    top: 0;
    right: 0;
}

.circles {
    span {
        display: block;
        border-radius: 100%;
    }
}

.circle1 {
    width: 200px;
    height: 200px;
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
