@import "../../styles/base/variables";

// ==========================================================================
// Global
// ==========================================================================
.container {
    margin: 0 auto 0 auto;
    &.fluid {
        width: calc(100vw - 6vw * 2);
    }
    &.notFluid {
        width: calc(100vw - 6vw * 2);
        max-width: 1920px;
    }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
