// Global
// ==========================================================================
.rotateText {
  position: absolute;
  top: 0;
  transform-origin: 0 94px; // 50% of the container height and width
  font-size: 1rem;
  line-height: 1rem;
  font-family: "sans-serif";
}
