@import "../../styles/base/variables";
@import "../../styles/mixins/mixins";

// ==========================================================================
// Global
// ==========================================================================
.footer {
    width: 100%;
    color: $white;
    background: black;
    text-transform: uppercase;
}

.footerContainer {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.socialContainer {
    display: flex;
}

.footerDisclaimer {
    text-transform: uppercase;
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
    .footer {
        padding: 45px 0 45px 0;
        @include type-setting(12, 14, 0);
    }

    .footerContainer {
        gap: 20px;
        flex-direction: column;
        text-align: center;
    }

    .socialContainer {
        gap: 15px;
        justify-content: center;
    }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
    .footer {
        @include type-setting(12, 14, 0);
    }

    .footerContainer {
        gap: 15px;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
    }

    .socialContainer {
        justify-content: flex-end;
    }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
    .footer {
        @include type-setting(14, 14, 0);
    }

    .socialContainer {
        gap: 20px;
    }
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
