@import "tailwindcss";
@import "./typography/_fonts";
@import "./base/_variables";
@import "./_reset";

// ==========================================================================
// Global
// ==========================================================================

html {
  scroll-behavior: smooth;
}

@media (min-width: 650px) {
  :root {
    --size: 104;
    --size-p: 750;
    --size-about: 750;
  }
}

@media (max-width: 650px) {
  :root {
    --size: 75;
    --size-p: 190;
    --size-about: 350;
  }
}

.about-section-text {
  font-size: calc(20 * 100vw / var(--size-about));
  line-height: calc(25 * 100vw / var(--size-about));
  font-family: "sans-serif";
}

:root {
  --text-primary-light: #000000;
  --text-primary-dark: #ffffff;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: #f2f2f2;
  --bg-primary-dark: #0f0f0f;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: rgb(104, 104, 255);
  --bg-navbar-dark: rgb(29, 29, 58);

  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;

  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
  ::selection {
    background: $lightRed;
  }
  ::-moz-selection {
    background: $lightRed;
  }
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  ::selection {
    background: $lightRed;
  }
  ::-moz-selection {
    background: $lightRed;
  }
}

html,
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $baseFontFamily;
  color: $baseFontColor;
  font-weight: $baseFontWeight;
}

article,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $neueMontrealThin;
}

.app {
  min-height: 100vh;
  // background-color: var(--bg-primary);
  color: var(--text-primary);
  will-change: background-color, color;
  transition: background-color 0.2s ease-in-out;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: 1;
}

.sample-container,
.sample-container-2 {
  margin: 30px 0;
  background: $green;
}

.card {
  position: relative;
}

// .card .gradient-box {
//   z-index: 1;
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   transition: opacity 0.2s ease-in-out;
//   pointer-events: none;
// }

// .card:hover .gradient-box {
//   opacity: 1;
//   background: radial-gradient(
//     circle at top right,
//     rgba(80, 64, 190, 0.7) 10%,
//     rgba(80, 64, 190, 0.5) 15%,
//     rgba(80, 64, 190, 0.1) 35%
//   );

//   // background: radial-gradient(
//   //   circle 150px at top right,
//   //   rgba(186, 85, 211, 0.9) 0%,
//   //   rgba(186, 85, 211, 0.5) 30%,
//   //   rgba(186, 85, 211, 0) 70%
//   // );
// }

.card-inner {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.card-content {
  flex: 3;
}

.card:hover .card-img {
  transform: rotate(-4deg);
}

.card-img {
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.special-text > article > div {
  background: linear-gradient(to right, #000000 50%, #a4a4a4 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: 50px;
  line-height: 1.2;
  font-size: 50px;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.6) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.4) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.4) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
