@import "tailwindcss";
@import "./typography/_fonts";
@import "./base/_variables";
@import "./_reset";

// ==========================================================================
// Global
// ==========================================================================

:root {
  --text-primary-light: #000000;
  --text-primary-dark: #ffffff;

  --text-secondary-light: rgb(70, 70, 70);
  --text-secondary-dark: rgb(160, 160, 160);

  --bg-primary-light: #f2f2f2;
  --bg-primary-dark: #0f0f0f;

  --bg-secondary-light: rgb(212, 212, 212);
  --bg-secondary-dark: rgb(34, 34, 34);

  --bg-navbar-light: rgb(104, 104, 255);
  --bg-navbar-dark: rgb(29, 29, 58);

  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-navbar: var(--bg-navbar-light);
  ::selection {
    background: $lightRed;
  }
  ::-moz-selection {
    background: $lightRed;
  }
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-navbar: var(--bg-navbar-dark);
  ::selection {
    background: $lightRed;
  }
  ::-moz-selection {
    background: $lightRed;
  }
}

html,
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $baseFontFamily;
  color: $baseFontColor;
  font-weight: $baseFontWeight;
}

article,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $neueMontrealThin;
}

.app {
  min-height: 100vh;
  // background-color: var(--bg-primary);
  color: var(--text-primary);
  will-change: background-color, color;
  transition: background-color 0.2s ease-in-out;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scroll-content:hover ~ .scrollbar-track {
  opacity: 1;
}

.sample-container,
.sample-container-2 {
  margin: 30px 0;
  background: $green;
}

.card {
  position: relative;
}

.card .gradient-box {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.card:hover .gradient-box {
  opacity: 1;
  background: radial-gradient(
    circle at top right,
    rgba(80, 64, 190, 0.7) 10%,
    rgba(80, 64, 190, 0.5) 15%,
    rgba(80, 64, 190, 0.1) 35%
  );

  // background: radial-gradient(
  //   circle 150px at top right,
  //   rgba(186, 85, 211, 0.9) 0%,
  //   rgba(186, 85, 211, 0.5) 30%,
  //   rgba(186, 85, 211, 0) 70%
  // );
}

.card-inner {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.card-content {
  flex: 3;
}

.card:hover .card-img {
  transform: rotate(-4deg);
}

.card-img {
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

// .WorkListModal {
//   will-change: transform;
//   transform: translateY(100%);
// }

.card-spotlight {
  position: relative;
  background-color: #111;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
  height: 100%;
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
