@import '../../../styles/base/variables';
@import '../../../styles/mixins/mixins';

// ==========================================================================
// Global
// ==========================================================================
.section {
  &.darkMode {
    color: $white;
    .whiteInfo,
    .greyInfo {
      color: $white;
    }
    .excerpt,
    .bodyCopy {
      p {
        color: $greyLight;
      }
    }
    .nextProjectWrapper {
      .nextProjectLink span {
        color: $white;
      }
    }
  }
  &.lightMode {
    color: $black;
    .whiteInfo,
    .greyInfo {
      color: $black;
    }
    .excerpt,
    .bodyCopy {
      p {
        color: $grey;
      }
    }
    .nextProjectWrapper {
      .nextProjectLink span {
        color: $black;
      }
    }
  }
}

.title {
  font-family: $neueMontrealMedium;
}

.projectInfo {
  .greyInfo {
    font-weight: 700;
    color: $white;
    font-family: $neueMontrealMedium;
  }
}

.excerpt {
  @include article-responsive-new();
  p {
    font-weight: 700;
  }
}

.bodyCopy {
  @include article-responsive-new();
  p {
    font-weight: 700;
  }
}

.btnWrap {
  display: flex;
  flex-wrap: wrap;
}

.nextProjectWrapper {
  .divider {
    height: 1px;
    width: 100%;
    background: $grey;
  }
  p {
    color: $grey;
    font-family: $neueMontrealMedium;
  }
  .nextProjectLink {
    font-family: $neueMontrealMedium;
    text-transform: capitalize;
  }
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
  .title {
    @include type-setting-responsive(40, 13, 100);
  }

  .thumbmailImage {
    height: 85vh;
    max-height: 1400px;
    margin: 45px 0 0 0;
  }

  .containerProjectInfo {
    margin-top: 60px;
  }

  .projectInfo {
    grid-column: 1/13;
    span {
      display: block;
    }
    .greyInfo {
      margin: 25px 0 0 0;
      &:nth-of-type(1) {
        margin: 0;
      }
    }
    .whiteInfo {
      margin: 10px 0 0 0;
    }
  }

  .excerpt {
    grid-column: 1/13;
    margin: 40px 0 0 0;
  }

  .bodyCopy {
    grid-column: 1/13;
    margin: 60px 0 0 0;
  }

  .btnWrap {
    grid-column: 1/13;
    margin: 30px 0 0 auto;
    gap: 10px;
  }

  .nextProjectWrapper {
    grid-column: 1/13;
    margin: 100px 0 60px 0;
    .divider {
      margin: 0 0 40px 0;
    }
    .nextProjectLink {
      margin: 10px 0 0 0;
      span {
        @include type-setting-responsive(40, 13, 100);
      }
    }
  }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
  .title {
    @include type-setting-responsive(50, 7, 100);
  }

  .containerProjectInfo {
    margin-top: 180px;
  }

  .projectInfo {
    grid-column: 1/6;
    width: calc((100% / 3) * 1);
    padding-left: calc(45px / 2);
    padding-right: calc(45px / 2);
  }

  .excerpt {
    grid-column: 6/12;
    margin: 0;
  }

  .bodyCopy {
    grid-column: 2/12;
    margin: 160px 0 0 0;
  }

  .btnWrap {
    margin: 50px 0 0 0;
    grid-column: 6/12;
  }

  .nextProjectWrapper {
    .nextProjectLink {
      span {
        @include type-setting-responsive(50, 7, 80);
      }
    }
  }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .title {
    @include type-setting-responsive(50, 7, 150);
  }

  .bodyCopy {
    grid-column: 3/11;
  }

  .btnWrap {
    gap: 15px;
  }

  .nextProjectWrapper {
    margin: 180px 0 100px 0;
    .nextProjectLink {
      span {
        @include type-setting-responsive(50, 7, 100);
      }
    }
  }
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
  .btnWrap {
    gap: 25px;
  }
}
