@import "../../styles/base/variables";
@import "../../styles/mixins/mixins";

// ==========================================================================
// Global
// ==========================================================================

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
  .section {
    padding: 60px 0 120px 0;
  }
  .title {
    @include type-setting-responsive(40, 13, 100);
  }
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
  .section {
    padding: 0 0 280px 0;
  }
  .title {
    @include type-setting-responsive(50, 7, 100);
  }
  .googleMapwrapper {
    width: 100%;
    height: 650px;
    margin: 45px 0 0 0;
  }
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
  .section {
    padding: 0 0 360px 0;
  }
  .title {
    @include type-setting-responsive(50, 7, 250);
  }
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
  .googleMapwrapper {
    height: 850px;
  }
}
