@import '../../styles/base/variables';
@import '../../styles/mixins/mixins';

// ==========================================================================
// Global
// ==========================================================================
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $darkGreen;
  opacity: 0;
  z-index: 10000;
  user-select: none;
  pointer-events: none;
}

// ==========================================================================
// Mobile
// ==========================================================================
@media (min-width: $breakMobile) {
}

// ==========================================================================
// Mobile Large
// ==========================================================================
@media (min-width: $breakMobileLarge) {
}

// ==========================================================================
// Tablet
// ==========================================================================
@media (min-width: $breakTablet) {
}

// ==========================================================================
// Desktop
// ==========================================================================
@media (min-width: $breakDesktop) {
}

// ==========================================================================
// Desktop Large
// ==========================================================================
@media (min-width: $breakDesktopLarge) {
}
